*.class

# maven
*.versionsBackup

# sbt specific
.cache/
.history/
.lib/
dist/*
*/target/
*/lib_managed/
*/src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
.pmd
.classpath
.project
.settings/

# IntelliJ-IDEA specific
*.iml
.idea/
.idea_modules/

#Misc
temp
foo
*.crc # cyclic redundancy check

#aws key
# **/rootkey.csv

#test logs
*.log
**/log
**/logs

#syncthing
.stfolder

#temporary code that are not supposed to be uploaded.
**/spike*.*

#vscode
.vscode

**/.rootkey.csv

**/.spark-dist

#flatten-maven-plugin
.flattened-pom.xml
pom.xml.flatten

#pytest
.pytest_cache