*.class

#test logs
*.log
**/log
**/logs

# maven
*.versionsBackup

# gradle
**/.gradle
**/build

# sbt
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE
.scala_dependencies
.worksheet

# Eclipse
.pmd
.classpath
.project
.settings/

# IntelliJ-IDEA
*.iml
.idea/
.idea_modules/

# VSCode
.vscode/

# BSP & Metals
.bsp/
.bloop/
.metals/
**/metals.sbt

# the Singapore stack
**/.ammonite/

# Compiler
output
**/out
**/target/

#Misc
temp
**/temp
foo
**.crc
**.lock

#aws key
**/rootkey.csv

#publish
dev/publish.sh
dev/publishM2.sh

#syncthing
.stfolder

#temporary code that are not supposed to be uploaded.
**/spike*.*

**/.rootkey.csv

**/.spark-dist
**/.ipynb_checkpoints

#flatten-maven-plugin
.flattened-pom.xml
pom.xml.flatten


#pytest
**/.pytest_cache

#conda
**/conda/.env

#apm sitl state files
uav/**/eeprom.bin
uav/**/*.DAT
