*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
.pmd
.classpath
.project
.settings/

# IntelliJ-IDEA specific
*.iml
.idea/
.idea_modules/

# Compiler
output
*/target/

#Misc
temp
**/temp
foo

#aws key
**/rootkey.csv

#spark deployment and autoscaling scripts
**/inventories0/
**/inventories1/
**/inventories2/
**/inventories3/
**/inventories4/
