*.class
*.log
logs/**

# gradle
**/.gradle/*
**/build
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties
# Cache of project
.gradletasknamecache

# sbt
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE
.scala_dependencies
.worksheet

# Eclipse
.pmd
.classpath
.project
.settings/

# IntelliJ-IDEA
*.iml
.idea/
.idea_modules/

# VSCode
.vscode/

# BSP & Metals
.bsp/
.bloop/
.metals/
**/metals.sbt

# the Singapore stack
**/.ammonite/

# Compiler
output
*/target/

#Misc
temp
**/temp
foo
