# used by pip-compile, please pip install pip-tools and execute pip-compile manually

future >= 0.16.0
-e git+https://github.com/dronekit/dronekit-python.git@ed132c#egg=dronekit
dronekit-sitl >= 3.2.0
# TODO dronekit-solo >= 1.3
pymavlink >= 2.2.8
# TODO: this is blocking py3 upgrade! get rid of it!
MAVProxy == 1.6.4
simplejson >= 3.10.0